@import url('https://fonts.googleapis.com/css?family=Merriweather:700|Open+Sans:400,400i,700,700i|Roboto+Mono:400,400i,700,700i');

html body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;

  font-size: 150%;

  height: 100vh;
  background: #0050CA;
  color: #FFF;

  line-height: 1.3;
}

p {
  max-width: 60vw;
}

.Presentation-slide {
  max-width: 90vw;
}

.Presentation-slide img {
  max-width: 70vw;
  width: auto;
}

.Presentation-slide h1,
.Presentation-slide h2,
.Presentation-slide h3,
.Presentation-slide h4,
.Presentation-slide h5,
.Presentation-slide h6 {
  font-family: 'Merriweather', serif;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: 'Roboto Mono', monospace;
  font-size: 75%;
  line-height: 1.3;
}

pre[class*="language-"] {
  box-shadow: 0 0.2em 1rem rgba(44, 44, 44, 0.5);
}

div.code-block pre {
  background: #2b2b2b;
}
